{% extends 'base.html' %}
{% block title %}Saved Papers{% endblock %}
{% block content %}

{% if user.is_authenticated %}
  <h1>Saved Papers</h1>
    {% if lensaved == 0 %}
        <h2 style="text-align: center; color: #9ca7b0;">You currently have no saved papers.</h2>
    {% else %}
  <table align="center">
  	<tr>
  	  <th>Paper Name</th>
  	  <th>Date</th>
  	  <th>Delete?</th>
  	</tr>

	{% for dict in saved_papers %}
	<tr>
	<form action="/account/" method="get">
	{% for key, value in dict.items %}

	  {% if key == "url" %}
	    <td>
	  	  <a href="{{value}}">
	  	  <input type="hidden" name="url" value="{{value}}">

	  {% endif %}
	{% endfor %}

	{% for key, value in dict.items %}

	  {% if key != "url" and key != "date" and key == "papername" %}
	    {{value}} </a> 

	  {% elif key != "papername" and key != "url" and key == "date" %}
	    <td> {{value}} </td>
	    
	    <td> <button type="submit" value="Delete!" ></td>
	    </form>
	    </tr>

	  {% endif %}

	{% endfor %}
	{% endfor %}
    {% endif %}
  </table>
  <h1>Search History</h1>
    {% if lenhist == 0 %}
        <h2 style="text-align: center; color: #9ca7b0;">You currently have no search history.</h2>
    {% else %}
  <table align="center">
  	<tr>
  	  <th>Search History</th>
  	  <th>Date and Time</th>
  	</tr>

	{% for dict in search_history %}
	<tr>
	<form action="{% url 'results' %}" method="get">
    	{% for key, value in dict.items %}

	  {% if key == "searchQuery" %}
	    <td>
	    <input type="hidden" name="search_term" value="{{value}}"/>
	  	  <button type="submit">{{value}}</button>
	  	</td>
	  	</form>
	  {% endif %}	
	
	  {% if key == "dateAndTime" %}
	  <td>
	  {{value}}
	  </td>
	  </tr>
	  {% endif %}

	{% endfor %}
	
	{% endfor %}
	</table>

        {% endif %}
{% endif %}

{% endblock %}