{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="box">
        <div class="container-1">
        
            <form action="{% url 'results' %}" method="get">
                <input type="text" id="search" placeholder="Search..." name="search_term"/>
                <button class="icon" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div id="desc">
        <p>
            SPMIS is a search engine for scientific papers and research documents.
        </p>
        <p>
            Simply type your query into the search box and let us find the papers for you. 
        </p>
        <p>
            Create a free account to save papers so you can view them again later.
        </p>
    </div>
{% endblock %}
